.dropdown {
  flex: 1;
  margin: 10px;
}

.dropdown-item:hover {
  cursor: pointer;
}

.input-group {
  margin: 10px;
}

.form-control:focus {
  border: solid 2px yellow !important;
  box-shadow: none;
}
