.movie {
  font-weight: normal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid lightgray;
}

.movie:hover {
  cursor: pointer;
}

.descriptionMovie {
  font-weight: bold;
}

.movieRelease {
  font-weight: bold;
}
